@import 'fonts.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0 !important;
}
.header{
    background-color: #F3F3F3;
    position: relative;
    overflow: hidden;
}
.header_boottom{
    position: absolute;
    /* z-index: 2; */
    bottom: -1px;
    width: 100vw;
}
.container_header{
    position: relative;
}
.man_img{
    position: absolute;
    bottom: -20px;
    right: -120px;
    pointer-events: none;
}
a:hover{
    color: #000000;
}
button{
    border: none;
}
.modal-body{
    display: block;
    flex-direction: center;
    margin: 20px 0;
}
.knopka{
    display: block;
    margin: 0 auto;
}
.callme{
    display: block;
    margin: 0 auto;
}
a{
    display: block;
    text-decoration: none;
    font-family: 'Lato Regular';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
}
ul, li{
    list-style-type: none;
    margin: 0;
}
ul{
    display: flex;
    align-items: center;
}
li{
    margin: 0 20px;
}
.container{
    display: flex;
    justify-content: space-between;
}
.nav{
    border-bottom: 2px solid #000000;
}
.logo a{
    display: block;
    /* font-family: 'Crimson Pro Bold'; */
    font-style: normal;
    font-size: 36px;
    line-height: 68px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 16px;
}
.tel{
    align-items: center;
    margin: auto 0;
}
.tel a{
    display: block;
    font-family: 'Lato Regular';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000000;
    border-radius: 6px;
    padding: 10px 20px;
}
.man img{
    width: 150%;
}
.text h2{
    font-family: 'Rubik Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #000000;
}
.text h1{
    font-family: 'ruberoid extra bold';
    font-style: normal;
    font-size: 48px;
    line-height: 70px;
    color: #000000;
}
h1 span{
    background: #FF7A00;
    border-radius: 10px;
    padding: 2px 10px 12px;
}
.text a{
    display: inline-block;
    font-family: 'Lato Bold';
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000000;
    border-radius: 10px;
    padding: 21px 58px;
    margin-top: 23px;
}
.text{
    margin-bottom: 118px;
}
.h21{
    margin-top: 65px;
}
.h22{
    margin-top: 40px;
}
.esli_vi{
    background-color: black;
}
.container_esli_vi{
    display: block;
}
.kards{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}
.kard img{
    display: block;
    margin: 0 auto;
}
.container_esli_vi h2{
    font-family: 'ruberoid extra bold';
    font-style: normal;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 33px;
}
.kard h3{
    font-family: 'ruberoid extra bold';
    font-style: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}
.kard p{
    font-family: 'Rubik Bold';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 7px;
}
.podrobnee  a{
    display: inline-block;
    font-family: 'Lato Bold';
    font-style: normal;
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    color: #000000;
    padding: 26px 60px;
    background: #F3F3F3;
    border-radius: 15px;
    /* margin: 60px auto; */
    text-align: center;
}
.podrobnee{
    text-align: center;
    
}
.podrobnee button{
    margin: 60px auto;
    border-radius: 15px;
}
/* .man{
    height: 1343px;
    background-image: url(../img/bg_man.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
} */

/* .circle { 
    clip-path: circle(776px at 50% 50%);
    float: right; 
    height: 776px; 
    width: 776px; 
    shape-outside: circle(50%); 
  }
  /* .text2 p{
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
  }*/
  .container_uslugi{
      display: block;
  }
  .zagolovok{
      text-align: center;
      padding: 35px 0 59px;
      font-family: 'Rubik Bold';
      font-style: normal;
      font-size: 48px;
      line-height: 70px;
        text-transform: uppercase;
        color: #FFFFFF;
  }
  .uslugi{
    background-color: #000;
  }
  .usls{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding-bottom: 50px;
  }
  .usl h2{
    font-family: 'Rubik Bold';
font-style: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
  }
  .container_uslugi{
      border-top: 1px solid white;
  }
  .usl{
      align-items: center;
      justify-content: center;
      padding: 0 5px;
      min-height: 379px;
  }
  .usl p{
    font-family: 'Rubik Regular';
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
  }
  .usl img{
      display: block;
      margin: 0 auto;
  }
  .price{
      position: relative;
      overflow: hidden;
  }

  .uslugi_bottom{
    position: absolute;
    /* z-index: 99; */
    top: 0;
    width: 100vw;
  }
.price__h2{
    
    margin-bottom: 64px;
    font-family: 'ruberoid extra bold';
font-style: normal;
font-size: 36px;
line-height: 53px;
text-align: center;
text-transform: uppercase;
color: #000000;

}
.price__card h3{
    font-family: 'ruberoid extra bold';
font-style: normal;
font-size: 24px;
line-height: 35px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}
.price__card ul li{
    font-family: 'Rubik Regular';
font-style: normal;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
list-style: disc;
margin: 0;
margin-bottom: 40px;
}
.price__card ul{
    display: block;
}
.price__card s{
    font-family: 'Rubik Bold';
font-style: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
}
.price__card p{
    font-family: 'Rubik Bold';
font-style: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
margin-bottom: 25px;
}
.price__more a{
    display: flex;
    display: inline-block;
    font-family: 'Lato Bold';
font-style: normal;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;
color: #000000;
padding: 19px 65px;
background: #F3F3F3;
border-radius: 7px;
text-align: center;
}
.price__more{
    text-align: center;
}
.price__more button{
    border-radius: 7px;
}
.price__card{
    background: #000000;
border-radius: 30px;
    padding: 30px 20px;
    width: 320px;
    
}
.price__cards{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.container__price{
    display: block;
}
.price{
    padding: 90px 0 30px;
    background-color: #F3F3F3;
}
.timer h3{
    display: block;
    text-align: center;
    font-family: 'Rubik Regular';
font-style: normal;
font-size: 14px;
line-height: 1.4;
color: #000000;
margin: 0;
}
.timer__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.timer{
    padding-top: 20px;
    background-color: #F3F3F3;
}
.timer__container img{
    display: block;
    width: 50px;
    margin: 30px auto 0;
}
.puti{
    padding-top: 30px;
    background-color: #F3F3F3;
}
.puti_h2{
    text-align: center;
    font-family: 'ruberoid extra bold';
font-size: 36px;
line-height: 53px;
text-align: center;
text-transform: uppercase;
color: #000000;
margin-bottom: 4px;

}
.za-vami{
    font-family: 'ruberoid extra bold';
font-size: 36px;
line-height: 53px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
padding: 21px 75px;
background: #000000;
border-radius: 35px;
max-width: 500px;
width: 100%;
margin: 0 auto;
}
.container__puti{
    display: block;
}
.put{
    /* max-width: 330px; */
    text-align: center;
}
.razvitie{
    display: flex;
    justify-content: space-between;
    margin-top: 76px;
    padding-bottom: 472px;
    position: relative;
}
.put h3{
    font-family: 'ruberoid extra bold';
font-style: normal;
font-size: 36px;
line-height: 53px;
text-align: center;
text-transform: uppercase;
color: #000000;
}
.put h5{
    font-family: 'Rubik Bold';
font-style: normal;
font-size: 18px;
line-height: 21px;
color: #000000;
}
.put p{
    font-family: 'Rubik Regular';
font-style: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #000000;

}
.razvitie img{
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 33%;
}
.razvitie h4{
    padding: 25px 54px;
    font-family: 'Lato Bold';
    font-size: 18px;
line-height: 22px;
text-transform: uppercase;
color: #000000;
background: #F3F3F3;
border-radius: 7px;
position: absolute;
z-index: 3;
bottom: 30px;
left: 41%;
}
.puti{
    position: relative;
    overflow: hidden;
}
.puti .svg{
    position: absolute;
    z-index: 2;
    bottom: 0px;
    width: 100vw;
    left: -1px;
}
.babochka{
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
}
.babochke_bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 17%;
}
.container_ne_nashli h2{
    font-family: 'ruberoid extra bold';
    font-size: 36px;
line-height: 53px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.p-form{
    font-family: 'ruberoid extra bold';
    font-size: 24px;
line-height: 35px;
text-align: center;
text-transform: uppercase;
color: #000000;
}
.imya, .telefon{
    overflow: hidden;
    font-family: 'Rubik Regular';
    font-size: 24px;
line-height: 28px;
color: black;
padding: 17px 19px;
background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 10px;
max-width: 380px;
width: 100%;
}
.callme{
    font-family: 'Lato Bold';
    font-size: 24px;
line-height: 29px;
text-transform: uppercase;
color: #FFFFFF;
padding: 20px 70px;
background: #000000;
border-radius: 10px;
margin-top: 25px;
border: solid 1px black;
max-width: 380px;
width: 100%;
}
button::-moz-focus-inner{
    border: none;
}
.callme:hover{
    background: #000000;
    /* border: solid 1px black; */
}
.callme:focus{
    background: #000000;
    /* border: none; */
}
.callme:active{
    background: #000000;
    /* border: solid 1px black; */
}
.plan{
    padding: 19px 25px 32px;
    background: #FFFFFF;
border-radius: 31px;
max-width: 445px;
margin: 49px auto 0;
}
.ne_nashli{
    background-color: #000;
    padding: 39px 0 62px;
}
.container_ne_nashli{
    display: block;
    position: relative;
}
.w1{
    position: absolute;
    top: 54px;
    left: 54px;
}
.w2{
    position: absolute;
    top: 260px;
    left: 150px;
}
.w3{
    position: absolute;
    top: 435px;
    left: 34px;
}
.w4{
    position: absolute;
    top: 45px;
    right: 5px;
}
.w5{
    position: absolute;
    top: 253px;
    right: 54px;
}

.knopka{
    margin-top: 32px;
}
.rezultati{
    background-color: #F3F3F3;
    padding-top: 96px;
    padding-bottom: 63px;
    position: relative;
    overflow: hidden;
}
.rezult_bottom{
    position: absolute;
    top: 0;
    width: 100vw;
}
.rezult_top{
    position: absolute;
    bottom: 0;
    width: 100vw;
    left: -1px;
}
.container_rezultati h3{
    display: block;
    margin-bottom: 86px;
    font-size: 36px;
line-height: 53px;
text-align: center;
text-transform: uppercase;
color: #000000;
font-family: 'ruberoid extra bold';
}
.container_rezultati{
    display: block;
}
.rabota{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px black;
    margin-bottom: 63px;
}
.logotip{
    display: flex;
    max-width: 343px;
    background: #000000;
border-radius: 10px;
}
.text_log h5{
    font-family: 'Rubik Regular';
    font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}
.log img{
    margin-right: 20px;
    padding: 10px 0 10px 10px;
}
.text_log h6{
    font-family: 'Rubik Regular';
    font-size: 24px;
line-height: 28px;
color: #FFFFFF;
}
.text_log{
    padding: 10px 10px 0 0;
}
.left h2{
    font-family: 'Rubik Regular';
font-size: 36px;
line-height: 43px;
color: #000000;
margin-top: 40px;

}
.left p{
    font-family: 'Rubik Regular';
    font-size: 24px;
line-height: 28px;
color: #000000;
margin-top: 10px;
max-width: 485px;
}
.right img{
    margin-right: 70px;
}
.oneshans{
    background-color: black;
    padding: 21px 0 103px;
}
.one_container{
    display: block;
    justify-content: center;
}
.one_container h2{
    font-family: 'ruberoid extra bold';
    font-size: 36px;
line-height: 53px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
padding-bottom: 68px;
}
.one_timer{
    max-width: 477px;
    background: #262424;
    border-radius: 25px;
    padding: 33px 0 45px;
    margin: 0 auto;
}
.one_timer h2{
    font-size: 18px;
line-height: 21px;
color: #FFFFFF;
text-align: center;
padding-bottom: 11px;
font-family: 'Rubik Regular';

}
.one_timer a{
    font-size: 18px;
line-height: 22px;
text-transform: uppercase;
color: #000000;
font-family: 'Lato Bold';
padding: 29px 49px;
background: #F3F3F3;
border-radius: 7px;
max-width: 276px;
margin: 0 auto;
/* margin-top: 24px; */
}
.one_timer button{
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    border-radius: 7px;
    
}
@media(max-width: 1200px){
    .text h2{
        font-size: 18px;
        line-height: 1.4;
    }
    .text h1{
        font-size: 36px;
        line-height: 1.4;
    }
    .text a{
        font-size: 18px;
        line-height: 1.4;
    }
    .text{
        margin-bottom: 165px;
    }
    .usl{
        max-width: 312px;
    }
    .price__cards{
        justify-content: center;
    }
    .price__card{
        margin: 20px;
    }
    .razvitie img{
        display: block;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 30%;
    }
    .babochka{
        width: 25%;
    }
}
@media(max-width: 990px){
    .w2{
        left: 30px;
    }
    .nav_heder ul{
        margin: 0;
        padding: 0;
    }
    .logo a{
        font-size: 28px;
    line-height: 1.7;
    }
    h1 span {
        padding: 0px 5px 8px;
    }
    .nav_heder ul li a{
        font-size: 12px;
        line-height: 1.4;
    }
    .nav_heder ul li{
        margin: 0 10px;
    }
    .tel_header a{
        font-size: 10px;
    line-height: 1.4;
    padding: 8px 15px;
    }
    .man_img{
        width: 83%;
        right: -200px;
    }
    .text h2{
        font-size: 16px;
        line-height: 1.4;
    }
    .text h1{
        font-size: 30px;
        line-height: 1.4;
    }
    .text a{
        font-size: 16px;
        line-height: 1.4;
    }
    .kards{
        flex-wrap: wrap;
    }
    .kard{
        margin: 10px;
    }
    .container_esli_vi h2{
        font-size: 36px;
    line-height: 1.4;
    }
    .podrobnee a{
        font-size: 32px;
    line-height: 1.4;
    padding: 22px 40px;
    }
    .zagolovok{
        font-size: 42px;
    line-height: 1.4;
    }
    .usl{
        margin: 5px;
    }
    .razvitie img{
        display: block;
        position: absolute;
        z-index: 1;
        width: 60%;
        bottom: -50px;
        left: 23%;
        /* top: 20%; */
    }
    .razvitie h4{
    bottom: 30px;
    left: 35%;
    }
    .babochke_bottom{
        width: 20%;
    }
    .razvitie{
        padding-bottom: 555px;
    }
    .w5{
        right: 0;
    }
    .right img{
        margin-right: 0;
    }
    .text_log h5{
        font-size: 12px;
    line-height: 1.4;
    margin-bottom: 0;
    }
    .text_log h6{
        font-size: 21px;
    line-height: 1.4;
    }
    .left h2{
        font-size: 31px;
    line-height: 1.4;
    }
    .left p{
        font-size: 17px;
    line-height: 1.3;
    }
}
@media(max-width: 770px){
    .logo a{
        font-size: 26px;
    line-height: 1.7;
    }
    .nav_heder ul li a{
        font-size: 8px;
        line-height: 1.4;
    }
    .nav_heder ul li {
        margin: 0 5px;
    }
    .tel_header a {
        font-size: 10px;
        line-height: 1.4;
        padding: 6px;
    }
    .h21{
        margin-top: 45px;
    }
    .h22{
        margin-top: 15px;
    }
    .text h2 {
        font-size: 12px;
        line-height: 1.4;
    }
    .text h1 {
        font-size: 25px;
        line-height: 1.4;
    }
    h1 span {
        border-radius: 5px;
    }
    .text a {
        font-size: 12px;
        line-height: 1.4;
        padding: 18px 48px;
    }
    .man_img {
        width: 73%;
        right: -150px;
    }
    .text{
        margin-bottom: 65px;
    }
    .container_esli_vi h2 {
        font-size: 26px;
        line-height: 1.4;
    }
    .kard h3 {
        font-size: 20px;
        line-height: 1.4;
    }
    .kard p {
        font-size: 12px;
        line-height: 1.4;
    }
    .podrobnee a {
        font-size: 26px;
        line-height: 1.4;
        padding: 16px 20px;
    }
    .podrobnee button {
        margin: 30px auto;
        border-radius: 12px;
    }
    .zagolovok {
        font-size: 36px;
        line-height: 1.4;
    }.price__h2 {
        margin-bottom: 54px;
        font-size: 26px;
        line-height: 1.4;
    }
    .put h3 {
        font-size: 26px;
        line-height: 1.4;
    }
    .put{
        margin: 10px;
    }
    .razvitie{
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-bottom: 50px;
    }
    .razvitie img{
        bottom: 0;
        left: 60%;
    }
    .babochke_bottom{
        display: none;
    }
    .razvitie h4 {
        bottom: 30px;
        left: 35%;
    }
    .razvitie h4 {
        padding: 10px 15px;
        border-radius: 7px;
        position: absolute;
        z-index: 3;
        bottom: 18px;
        left: 73%;
    }
    .razvitie a{
        font-size: 12px;
    line-height: 1.4;
    }
    .w5, .w2, .w3{
        display: none;
    }
    .container_rezultati h3 {
        margin-bottom: 40px;
        font-size: 28px;
        line-height: 1.4;
    }
    .right img{
        width: 120%;
    }
    .text_log h5 {
        font-size: 10px;
        line-height: 1.4;
    }
    .text_log h6 {
        font-size: 16px;
        line-height: 1.4;
    }
    .text_log{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .left h2 {
        font-size: 26px;
        line-height: 1.4;
        margin-top: 20px;
    }
    .left p {
        font-size: 12px;
        line-height: 1.3;
    }
    .one_container h2 {
        font-size: 26px;
        line-height: 1.4;
        padding-bottom: 20px;
    }
}
@media(max-width: 580px){
    .nav_heder ul{
        display: none;
    }
    .nav_heder .container{
        justify-content: space-around;
    }
    .man_img {
        width: 73%;

        right: -85px;
    }
    .text{
        margin-bottom: 100px;
    }
    .text h1 {
        font-size: 20px;
        line-height: 1.4;
    }
    .zagolovok {
        font-size: 26px;
        line-height: 1.4;
        padding-bottom: 20px;
    }
    .price__h2 {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 1.4;
    }
    .babochka{
        display: none;
    }
    .puti_h2 {
        font-size: 26px;
        line-height: 1.4;
    }
    .za-vami {
        font-size: 26px;
        line-height: 1.4;
        padding: 15px 65px;
        border-radius: 30px;
        max-width: 380px;
    }
    .razvitie {
        justify-content: center;
        padding-bottom: 400px;
    }
    .razvitie img {
        width: 50%;
        bottom: 0;
        left: 26%;
    }
    .razvitie h4 {
        bottom: 15px;
        left: 38%;
    }
    .babochke_bottom{
        display: block;
    }
    .rabota{
        display: block;
    }
    .left{
        max-width: 350px;
        justify-content: center;
        margin: 0 auto;
    }
    .logotip {
        max-width: 300px;
        margin: 0 auto;
    }
    .right img {
        width: 50%;
        display: block;
        margin: 0 auto;
    }
}
@media(max-width:510px){
    .text{
        margin-bottom: 52px;
    }
    .razvitie{
        padding-bottom: 350px;
    }
    .razvitie h4 {
        left: 37%;
    }
}
@media(max-width:500px){
    .text{
        margin-bottom: 210px;
    }
    .man_img {
    width: 73%;
    right: -45px;
    }
    .text h2 {
    font-size: 16px;
    line-height: 1.4;
    }
    .text h1 {
        font-size: 25px;
        line-height: 1.4;
    }
}
@media(max-width:460px){
    .text h2 {
        font-size: 14px;
        line-height: 1.4;
    }
    .text h1 {
        font-size: 22px;
        line-height: 1.4;
    }
    .text{
        margin-bottom: 180px;
    }
    .knopka{
        display: block;
        max-width: 380px;
        width: 100%;
    }
    .callme {
    font-size: 18px;
    line-height: 29px;
    padding: 20px 100px;
    }
    .razvitie img {
        left: 28%;
    }
    .razvitie{
        padding-bottom: 310px;
    }
    .razvitie a {
        font-size: 10px;
        line-height: 1.4;
    }
    .razvitie h4 {
        left: 39%;
    }
}
@media(max-width:450px){
    .callme {
        font-size: 16px;
        line-height: 29px;
        padding: 20px 60px;
    }
}
@media(max-width:420px){
    .text{
        margin-bottom: 160px;
    }
    .text h1 {
        font-size: 18px;
        line-height: 1.4;
    }
    .text h2 {
        font-size: 12px;
        line-height: 1.4;
    }
    .podrobnee a {
        font-size: 22px;
        line-height: 1.4;
        padding: 14px 18px;
    }
    .podrobnee button {
        margin: 20px auto;
        border-radius: 12px;
    }
    .puti_h2 {
        font-size: 18px;
        line-height: 1.4;
    }
    .razvitie {
        padding-bottom: 280px;
    }
    .razvitie h4 {
        bottom: 10px;
        left: 38%;
        padding: 8px 12px;
    }
    .container_ne_nashli h2 {
        font-size: 32px;
        line-height: 1.4;
    }
    .za-vami {
        font-size: 22px;
        line-height: 1.4;
}
@media(max-width:370px){
    .text {
        margin-bottom: 130px;
    }
    .text h1 {
        font-size: 16px;
        line-height: 1.4;
    }
    .text h2 {
        font-size: 10px;
        line-height: 1.4;
    }
    .razvitie {
        padding-bottom: 250px;
    }
    .p-form {
        font-size: 20px;
        line-height: 1.4;
    }
    .one_container h2 {
        font-size: 20px;
        line-height: 1.4;
    }
    .callme {
        font-size: 16px;
        line-height: 29px;
        padding: 20px 40px;
    }
    .razvitie {
        padding-bottom: 220px;
    }
    .razvitie h4 {
        bottom: 5px;
        left: 35%;
        padding: 8px 12px;
    }
    .put p {
        font-size: 14px;
        line-height: 1.4;
    }
    .za-vami {
        font-size: 22px;
        line-height: 1.4;
        padding: 15px 40px;
    }
    .text {
        margin-bottom: 120px;
    }
    .oneshans {
        background-color: black;
        padding: 21px 0 50px;
    }
}


